<h1 style="color: blue">Información Controlador --> Vista</h1>
<h2>Nombre: @ViewData["NOMBRE"]</h2>
<h2>Edad: @ViewData["EDAD"]</h2>
<h2>Dia Semana: @ViewBag.DiaSemana</h2>
<h2>@ViewData["ey"]</h2> @* NO EXISTE *@
