@model List<int>

<h1>Conjetura Collaztz</h1>
<form method="post">
    <label class="form-label">Número</label>
    <input type="number" class="form-control" name="numero" />
    <button class="btn btn-primary mt-3">Calcular conjetura</button>
</form>

@if (Model is not null)
{
    <hr />
    <ul>
        @foreach (int numero in Model)
        {
            <li>@numero</li>
        }
    </ul>
}

