<h1>Sumar números POST</h1>
<form method="post">
    <label>Número 1</label>
    <input type="number" name="numero1" class="form-control" />
    <label>Número 2</label>
    <input type="number" name="numero2" class="form-control" />
    <button class="btn btn-primary mt-3">Realizar suma</button>
</form>
<h2>@ViewData["MENSAJE"]</h2>