@model List<int>

<h1>Tabla Multiplicar Simple</h1>

<form method="post">
    <label>Número</label>
    <input type="number" class="form-control" name="numero" />
    <button class="btn btn-primary mt-3">Calcular tabla</button>
</form>

@if (Model is not null)
{
    <hr />
    <p class="fw-bold">Con FOR</p>
    <table class="table">
        <tbody>
            @for (int i = 1; i <= Model.Count; i++)
            {
                int numero = Model[0];
                int result = Model[i - 1];
                <tr>
                    <td>@numero x @i</td>
                    <td>@result</td>
                </tr>
            }
        </tbody>
    </table>
    <p class="fw-bold">Con FOREACH</p>
    <table class="table">
        <tbody>
            @foreach (int numero in Model)
            {
                <tr>
                    <td>@numero</td>
                </tr>
            }
        </tbody>
    </table>
}